html, body, .section, .widget, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {    margin: 0;    padding: 0;}
html {overflow-x: hidden;}
a {text-decoration:none;color:#0b2bd5;padding-left: 5px}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {     display:block;}
table {    border-collapse: separate;    border-spacing: 0;}
caption, th, td {    text-align: left;    font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {    content: "";}
.quickedit, .home-link{display:none;}
blockquote, q {    quotes: "" "";}
sup{    vertical-align: super;    font-size:smaller;}
code{    font-family: 'Courier New', Courier, monospace;    font-size:12px;    color:#272727;}
::selection {background:transparent; text-shadow:#000 0 0 2px;}
::-moz-selection {background:transparent; text-shadow:#000 0 0 2px;}
::-webkit-selection {background:transparent; text-shadow:#000 0 0 2px;}
::-o-selection {background:transparent; text-shadow:#000 0 0 2px;}
a img{	border: none;}
ol, ul { padding:0;  margin:0;  text-align: left;  }
ol li { list-style-type: decimal;  padding:0 0 5px;  }
ul li { list-style-type: disc;  padding: 0 0 5px;  }
ul ul, ol ol { padding: 0; }
#navbar-iframe, .navbar {   height:0px;   visibility:hidden;   display:none   }
.Attribution, .feed-links, .post-footer-line.post-footer-line-1, .post-footer-line.post-footer-line-2 , .post-footer-line.post-footer-line-3 {
display: none;
}
.item-control {
display: none !important;
}
h2.date-header, h4.date-header {display:none;margin:1.5em 0 .5em}
h1, h2, h3, h4, h5, h6 {
font-weight: 400;
color: #151515;
}



.icn:hover{
    background: white; border-radius: 50%;
}

#icn:hover{
    background: black;
}

#icnfinance:hover{
    background: blue;border-radius: 40%;
}

/* shake css needyamin start */
#shake:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* shake css needyamin end */




img {
max-width: 100%;
vertical-align: middle;
border: 0;
}
*, *:before, *:after {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
.widget iframe, .widget img {
max-width: 100%;
}
.status-msg-wrap {
display: none;
}
/*****************************************
Custom css starts Yamin Hossain Shohan
******************************************/
body {
color: #2e2e2e;
font-family:"Open Sans", sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 21px;
background: #f5f5f5;
}


/* ######## Wrapper Css ######################### */
#outer-wrapper{max-width:100%;margin:0 auto;background-color:#f5f5f5;box-shadow:0 0 5px RGBA(0, 0, 0, 0.2)}
.row{width:1200px;}
#content-wrapper {
margin: 0 auto;
padding: 20px 0 30px;
}
.index #content-wrapper, .archive #content-wrapper {
overflow: hidden;
}
.item #main-wrapper, .statc_page #main-wrapper {
float: left;
width: 68%;
max-width: 800px;
}
.index #main-wrapper, .archive #main-wrapper {
float:none;
width:100%;
max-width:100%
}
.item #sidebar-wrapper, .statc_page #sidebar-wrapper {
float: right;
width: 30%;
max-width: 330px;
}
.index #sidebar-wrapper, .archive #sidebar-wrapper {
display:none;
visibility:hidden;
height:0;
opacity:0;
}



/* ######## Header Css ######################### */
#header-wrapper {
text-align: center;
padding:0;
margin-bottom: 10px;
box-sizing:border-box;
position:relative;
width: 100%;
}
.background-container{
position: relative;
height:380px;
overflow:hidden;
background: #1976D2 url(https://needyamin.s3.amazonaws.com/user1/bg.gif) no-repeat;
background-attachment: fixed;
background-size: cover;
background-position:bottom center;
}
.index #header-wrapper {
margin-bottom:0;
}
.item .header-logo-desc p, .static_page .header-logo-desc p, .error_page .header-logo-desc p, .item .top-bar-social #social a, .static_page .top-bar-social #social a, .error_page .top-bar-social #social a {
color:#303030;
}
.item #header-wrapper, .static_page #header-wrapper, .error_page #header-wrapper {
background: #fff;
height: auto;
border-bottom: 1px solid #eee;
box-shadow: 0 -2px 19px rgba(0,0,0,.1);
padding-bottom: 15px;
}
#header {
padding: 0;
}
#header-inner {
text-align: center;
display: inline-block;
}
#header h1 {
color: #fff;
margin: 0;
font-size: 40px;
line-height: 1.4em;
text-transform: Uppercase;
letter-spacing: 1px;
}
#header .description {
display:none;
}
.needyamin-author-box {
padding: 57px 50px 15px 50px;
box-sizing: border-box;
overflow: hidden;
}
.needyamin-author-box-image {
width:40%;
float: left;
margin-right: 5%;
margin-bottom: 10px;
}
.needyamin-author-box-image img {
height: 385px;
object-fit: cover;
}
.yamin-author-box-image{
width:20px;
margin-left:5px;
}
.yamin-author-box-image-name{
width:50px;
margin-top: -25px;
margin-left:5px;
}
.needyamin-author-box-text {
padding: 0;
overflow: hidden;
text-align: left;
}
.needyamin-author-box-text-head {
color: #3d4451;
padding-bottom: 25px;
margin-bottom: 25px;
border-bottom: 1px solid #dedede;
}
.needyamin-author-box-text .hello-txt {
background-color: #1976D2;
color: #fff;
font-size: 14px;
font-weight: 700;
line-height: 1.1;
display: inline-block;
padding: 7px 12px;
text-transform: uppercase;
position: relative;
margin-bottom: 28px;
}
.needyamin-author-box-text .hello-txt:before {
border-left-color:#1976D2;
content: '';
width: 0;
height: 0;
top: 100%;
left: 5px;
display: block;
position: absolute;
border-style: solid;
border-width: 0 0 8px 8px;
}
.needyamin-author-box-text .profile-title {
font-size: 36px;
line-height: 1.1;
font-weight: 700;
margin-bottom: 5px;
color:#3d4451;
}
.needyamin-author-box-text .profile-title span {
font-weight: 300;
}
.needyamin-author-box-text .profile-position {
font-size: 18px;
font-weight: 400;
line-height: 1.1;
margin-bottom: 0;
}
.needyamin-author-box-text-details ul {
margin: 0;
padding: 0;
list-style: none;
}
.needyamin-author-box-text-details .profile-list li {
margin-bottom: 13px;
list-style: none;
padding:0;
}
.needyamin-author-box-text-details .profile-list li .list-title {
display: block;
width: 120px;
float: left;
color: #333333;
font-size: 12px;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
}
.needyamin-author-box-text-details .profile-list li .cont {
display: block;
margin-left: 125px;
font-size: 15px;
font-weight: 400;
line-height: 20px;
color: #3256a8;
}
.needyamin-author-box-text-details .profile-list li .list-button {
color: #fff;
font-size: 12px;
font-weight: 700;
line-height: 1;
text-transform: none;
padding: 5px 8px;
display: inline-block;
position: relative;
top: -2px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background:#1976D2;
}
.needyamin-author-box-text-details .profile-list li .fa {
margin-right: 10px;
vertical-align: baseline;
}
.fenix-head {
}
.fenix-sub-head {
margin:0 auto;
background: #fff;
margin-top: -270px;
position: relative;
z-index: 9;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.hero-row {
width:940px;
}
.index .fenix-sub-head, .archive .fenix-sub-head {
}
.fenix-sub-head .social-head {
padding: 15px 0;
background: #1976D2;
box-sizing: border-box;
}
.top-bar-social {
padding: 0;
}
.top-bar-social li {
display: inline-block;
float: none;
padding: 0;
margin-right: 5px;
}
.top-bar-social li:last-child {
margin-right:0;
}
.top-bar-social .widget ul {
padding: 0;
}
.top-bar-social .LinkList ul {
text-align: center;
margin: 0 0 0 0;
}
.top-bar-social #social a {
display: block;
width: 40px;
height: 40px;
line-height: 40px;
font-size: 18px;
color: #1976D2;
background:#fff;
border: 1px solid #e4e4e4;
transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
}
.top-bar-social #social a:before {
display: inline-block;
font: normal normal normal 22px/1 FontAwesome;
font-size: inherit;
font-style: normal;
font-weight: 400;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.top-bar-social .bloglovin:before{content:"\f004"}
.top-bar-social .facebook:before{content:"\f09a"}
.top-bar-social .twitter:before{content:"\f099"}
.top-bar-social .gplus:before{content:"\f0d5"}
.top-bar-social .rss:before{content:"\f09e"}
.top-bar-social .youtube:before{content:"\f167"}
.top-bar-social .skype:before{content:"\f17e"}
.top-bar-social .stumbleupon:before{content:"\f1a4"}
.top-bar-social .tumblr:before{content:"\f173"}
.top-bar-social .vine:before{content:"\f1ca"}
.top-bar-social .stack-overflow:before{content:"\f16c"}
.top-bar-social .linkedin:before{content:"\f0e1"}
.top-bar-social .dribbble:before{content:"\f17d"}
.top-bar-social .soundcloud:before{content:"\f1be"}
.top-bar-social .behance:before{content:"\f1b4"}
.top-bar-social .digg:before{content:"\f1a6"}
.top-bar-social .instagram:before{content:"\f16d"}
.top-bar-social .pinterest:before{content:"\f0d2"}
.top-bar-social .delicious:before{content:"\f1a5"}
.top-bar-social .codepen:before{content:"\f1cb"}
.top-bar-social ul#social a:hover {
border-radius: 50%;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.needyamin-author-details {
margin: 15px auto;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
transition: box-shadow .25s;
-webkit-transition: box-shadow .25s;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.needyamin-author-details .card-content {
padding: 40px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.needyamin-author-details .card-content p {
color: #000;
font-size: 18px;
font-weight: 300;
line-height: 1.8;
text-align: center;
}
.needyamin-author-details .card-action {
border-top: 1px solid rgba(160, 160, 160, .2);
padding: 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.needyamin-author-details .card-action .about-btn {
height: auto;
margin-right: auto;
margin-left: auto;
animation-delay: 1s;
text-align: center;
}
.needyamin-author-details .card-action .about-btn .btn {
margin: 7px 7px;
background: #1976D2;
color: #fff;
width: 180px;
border-radius: 2px;
display: inline-block;
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position: relative;
overflow: hidden;
z-index: 1;
will-change: opacity, transform;
transition: all .3s ease-out;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}



/* ######## Responsive Css ######################### */
@media only screen and (max-width: 1200px) {
.featured-slider-wrap {
width:auto !important;
}
.needyamin-author-box-text {
padding: 30px 70px 0 0;
}
.row {
width: 100%;
float: none;
padding-left: 10px !important;
padding-right: 10px !important;
box-sizing: border-box;
}
.index .post-grid-item, .archive .post-grid-item {
width: 33.33%;
}
.index .post-grid-item:nth-child(3n), .archive .post-grid-item:nth-child(3n) {
padding-right: 0;
}
.index .post-grid-item:nth-child(4n), .archive .post-grid-item:nth-child(4n) {
padding-right: 15px;
}
}
@media only screen and (max-width: 1100px) {
.needyamin-author-box-text {
padding: 15px 0 0 0;
}
.needyamin-author-box img {
margin-right: 40px;
max-width: 400px;
}
div#needyamin_blogger_cntct_form .wrap-me {
max-width: 500px;
float: none;
clear: both;
margin: 0 auto 20px;
width: 100%;
}
.map-me {
max-width: 500px;
float: none;
clear: both;
margin: 0 auto;
width: 100%;
}
}
@media only screen and (max-width: 980px) {
.item #main-wrapper, .statc_page #main-wrapper, .item #sidebar-wrapper, .statc_page #sidebar-wrapper {
float: none;
clear: both;
width: 100%;
margin: 0 auto;
}
#main-wrapper {
max-width: 100%;
}
#sidebar-wrapper {
padding-top: 20px;
}
#nav1, #nav {
display: none;
}
.slicknav_menu {
display: block;
}
.item .tm-menu .slicknav_menu, .static_page .tm-menu .slicknav_menu, .error_page {
display:block;
}
.tm-menu, #menu {
height: auto;
}
.item .tm-menu, .static_page .tm-menu, .error_page .tm-menu {
float:none;
display:block;
}
}
@media screen and (max-width: 940px) {
.background-container {
display: none;
}
.hero-row {
width: 100%;
}
.fenix-sub-head {
margin-top: 0;
}
.skill-wrapper .skill-progress {
max-width: 120px;
width: 100%;
margin: 0;
}
}
@media screen and (max-width: 880px) {
.needyamin-author-box {
padding: 20px 10px;
}
.home #header-wrapper {
margin-bottom: 10px;
}
.item #content-wrapper {
padding: 10px 0 30px;
}
.skills, .skill-details {
width: 100%;
float: none;
padding: 20px;
clear: both;
}
}
@media only screen and (max-width: 768px) {
.needyamin-author-box img {
margin-right: 0;
max-width: 100%;
float: none;
width: 100%;
height: auto;
clear: both;
}
@media only screen and (max-width: 768px) {
.yamin-author-box img {
margin-right: 0;
max-width: 100%;
float: none;
width: 10%;
height: auto;
clear: both;
}
.needyamin-author-box-text {
padding: 10px;
text-align: center;
}
.counter-box-item, .works-tiles {
width: 50%;
}
#header h1 {
font-size: 50px;
}
.index .post-grid-item:nth-child(3n), .archive .post-grid-item:nth-child(3n) {
padding-right: 0;
}
.index .post-grid-item:nth-child(4n), .archive .post-grid-item:nth-child(4n) {
padding-right: 0;
}
.index .post-grid-item, .archive .post-grid-item {
width: 100%;
padding-right: 0;
}
.tm-menu {
text-align: center;
}
.top-bar-social {
float: none;
width: 100%;
clear: both;
overflow: hidden;
}
.top-bar-social li {
display: inline-block;
float: none;
}
.flickity-prev-next-button {
display:none;
}
.bot-menu, .bottom-bar-social {
float: none;
width: 100%;
clear: both;
overflow: hidden;
position: static;
}
.bot-menu ul {
text-align:center;
}
.bot-menu ul li {
float: none;
}
.bottom-bar-social li {
float: none;
display: inline-block;
}
.related li {
width: 31%;
}
.jugas_footer_copyright {
float: none;
visibility: hidden;
}
.jugas_footer_copyright_my {
float: none;
visibility: hidden;
}
.share-art span {
display: none;
}
.ops-404 {
width: 80%!important;
}
.title-404 {
font-size: 160px!important;
}
#header {
padding: 10px 0px 0;
}
}
@media only screen and (max-width: 767px) {
#header {
padding: 0;
}
.needyamin-author-box {
padding: 10px;
}
#header h1 {
font-size: 30px;
}
.header-text p {
font-size: 30px;
}
.needyamin-author-box-image {
width: 100%;
float: none;
margin-right: 0;
margin-bottom: 10px;
}
.slide-in {
display:none;
}
.entry {
width: 100%;
box-sizing: border-box;
}
.entry:after, .timeline:after {
display:none;
}
.entry--right {
margin-left: 0;
}
.needyamin-hobby-details .card-action ul li span {
display: none;
}
.price_card {
width: 100%;
padding-right: 0;
margin-bottom: 10px;
float: none;
clear: both;
}
.price_card:not(:last-child) {
padding-right: 0;
}
.needyamin-author-details .card-content {
padding: 10px;
}
.needyamin-author-details .card-action {
padding: 10px;
}
.entry {
padding: 10px;
}
}
@media only screen and (max-width: 480px) {
.skill-wrapper .skill-progress {
margin-bottom: 30px;
}
.comments .comments-content .comment-replies {
margin-left: 0;
}
.special-title h4, .works-title h4, .needyamin-hobby-details .hobby-title h4, .Portfolio-title h4, .testimonial-title h4, .about-title h4, .contact-title h4 {
font-size: 18px;
}
.needyamin-hobby-details .card-action ul li {
width: 33.33%;
padding: 15px;
}
.needyamin-hobby-details .card-action ul li i {
font-size: 16px;
}
.slide-in {
display:block;
}
.special-tiles, .works-tiles, .about-tiles, .counter-box-item {
width: 100%;
}
#header h1 {
font-size: 30px;
}
.header-text p {
font-size: 20px;
}
.header-logo-desc span, .header-logo-desc p {
font-size: 16px;
}
.index .post h2,.archive .post h2, .needyamin-slide .ty-bonos-entry a, #first-post .post h2 {
line-height: 34px;
font-size: 23px;
}
h1.post-title {
font-size: 22px;
margin-bottom: 10px;
}

    
    
    
    
    
    
    
    